
.article-hero{
    display: grid;
    place-items: center;
    background-image: url(../img/Photo.png);
    min-height: 45vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}
.content{
    width: 100%;
    padding-right: 45rem;
    padding-left: 45rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.pagination:hover,
.pagination:focus{
    background-color: var(--accent);
    color: white;
}
.cta-link-hero:hover{
    color: var(--accent);
    background-color: white;
}

figure img{
    width: 100%;
}
@media screen and (max-width:48em) {
    .list-dernier-module{
       display: grid;
       grid-template-columns: 1fr;
   }
}